<mat-accordion class="accordion">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{filter.filterName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- our form array of checkboxes will go here -->
    <mat-radio-group [(ngModel)]="filterValue" (change)="updateAllComplete($event)"> 
      <p>
        <mat-radio-button [value]="''" [name]="''">
          show all by {{filter.filterName}}
        </mat-radio-button>
      </p>

      <p *ngFor="let control of filters; let i = index">

        <mat-radio-button [value]="control.value" [name]="control.value">
          {{control.value}}</mat-radio-button>
      </p>
    </mat-radio-group>

  </mat-expansion-panel>
</mat-accordion>