<mat-toolbar color="primary" class="toolbar">
  <nav class="toolbar__nav">
    <button class="side-nav-button" mat-icon-button (click)="onShowSideNav()" type="button" matRipple #sideNavButton>
      <mat-icon>menu</mat-icon>
    </button>
    <ul class="header__list">
      <li class="header__list__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
          routerLink="">catalog</a></li>
      <li class="header__list__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
          routerLink="/cart">cart</a></li>
    </ul>
    <div class="search-bar-container">
      <app-search-bar [searchControl] = "searchControl"></app-search-bar>
    </div>
    <div class="cart-container">
      <button 
        type="button" 
        mat-icon-button 
        [matBadge]="productsAmount" 
        [matBadgeHidden]="!isBadgeHidden"
        matBadgeColor="warn"
        matBadgeSize="small"
      > 
        <mat-icon class="material-icons-outlined">
          shopping_cart
        </mat-icon>
      </button>
    </div>
  </nav>
</mat-toolbar>