.header__list {
    display: flex;
    height: 100%;
    list-style-type: none;
    &__item {
        padding: 0 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &.active {
            background-color: rgba(0,0,0,.2);   
        }
    }
    a {
        text-decoration: none;
        display: inline-block;
        color: #f2f2f2;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            cursor: pointer;
            color: #f48fb1;
        }
    }
};

@media (min-width: 768px) { 
    .side-nav-button {
        display: none;
    }
};