.catalog {
    &__filters {
        padding: 16px 0;
    }
    &__container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.filters {
    display: none;
    width: 250px;
    background-color: white;
}
.card-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-content: center;
    grid-gap: 8px;
}

@media(min-width: 1024px) {
    .filters {
        display: block;
    }
}