@import '~ngx-bar-rating/themes/br-default-theme';
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;;
}
img {
    max-width: 100%;
}
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 0;
}
